{% extends 'templates/core/base.html' %}
{% load static %}


{% block title %} Inicio {% endblock %}


{% block content %}
    <div class="HomeContainer">
        <div class="backgroundImage">
            <img src="#" alt="">
        </div>
        <div class="contH1">
            <div class="textSection">
                <h2>WELCOME</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto at autem consequatur cupiditate deserunt dolore eum in.</p>
                <button>Llamanos</button>
                <button>Whatsapp</button>
            </div>
            <div class="imageSection">
                <img src="" alt="">
            </div>
        </div>
        <div class="contH2">
            <div class="imgSection">

            </div>
        </div>
    </div>
{% endblock %}