.containerSample{
    padding: 50px;
    width: 100%;
    background: #f2f3f7 !important;
}


.SampleContent{
    padding: 50px;
    background-color: #f2f3f7;
    margin-top: 80px;
    margin-bottom: 80px;
    width: 100%;
    text-align: justify-all;
}

.section-title{
    color: #000;
    font-size: 45px;
    font-weight: normal;
    line-height: 2;
}
.section-content{
    color: #000;
}

