/* Estilos base */
.hidden {
    display: none;
}

.menu-containerH {
    position: relative;
    display: flex; /* Utilizamos flexbox para alinear horizontalmente los elementos */
}

#menuItems {
    position: absolute;
    top: calc(100% + 10px);
    right: 0; /* Alineamos el menú a la derecha del botón de menú */
    padding: 10px;
    z-index: 1;
    display: none;
    flex-direction: column; /* Alinear los elementos verticalmente */
}

.menu__item {
    border: none;
    height: 40px;
    margin-bottom: 10px; /* Ajusta el margen entre los botones */
    opacity: 0;
}

#menuButton {
    height: 100px;
    width: auto;
    cursor: pointer;
    margin-right: 20px; /* Ajustar el margen derecho */
    background: none; /* Eliminar el fondo */
    border: none; /* Eliminar el borde */
    z-index: 1; /* Asegura que el botón del menú esté por encima del menú desplegable */
}

#menuIcon {
    font-size: 3em;
    transition: transform 0.3s ease-in-out;
    color: white; /* Color del icono */
}

#menuButton:hover #menuIcon {
    transform: scale(0);
} 

/* Estilos footer */
.footer {
    position: fixed;
    bottom: 0; 
    width: 97.5%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.containerB {
    display: flex;
    height: 10%;
    background-color: #333;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.cont1 {
    align-items: center;
    display: flex;
}

.cont2 {
    margin-right: 20px;
}

.footer a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

.logoFo {
    max-width: 100px;
    display: block;
    margin-right: auto;
    margin-left: 15px;
}