/* Estilos base */
.hidden {
    display: none;
}

.menu-containerH {
    position: relative;
}

#menuItems {
    position: absolute;
    top: 50%;
    /* Centra verticalmente */
    right: calc(100% + 20px);
    transform: translateY(-50%);
    /* Alinea al centro vertical */
    padding: 20px;
    z-index: 1;
    display: none;
    flex-direction: row;
}

.menu__item {
    height: 40px;
    width: 140px;
    margin-right: 15px;
    /* Espacio entre botones */
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #77530a, #ffd277, #77530a, #77530a, #ffd277, #77530a);
    background-size: 250%;
    background-position: left;
    color: black;
    /* Cambiar el color del texto a negro */
    font-weight: bold;
    /* Hacer el texto en negrita */
    text-decoration: none;
    border-radius: 10px;
    padding: 0 20px;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out, background-position 1s;
    transform: translateX(100%);
}

.menu__item:hover {
    background-position: right;
    transition-duration: 1s;
}

#menuItems.show .menu__item {
    opacity: 1;
    transform: translateX(0);
}

#menuButton {
    height: 85px;
    width: auto;
    cursor: pointer;
    margin-right: 20px;
    background: none;
    border: none;
    z-index: 1;
}

#menuIcon {
    font-size: 3em;
    transition: transform 0.3s ease-in-out;
    color: white;
}

#menuButton:hover #menuIcon {
    transform: scale(0);
}

#menuButton:hover::before {
    content: "\f335";
    font-family: "Bootstrap Icons", serif;
    display: inline-block;
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
}

#menuButton:hover::after {
    content: "\f335";
    font-family: "Bootstrap Icons", serif;
    display: inline-block;
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
}

#menuButton:hover::before,
#menuButton:hover::after {
    position: absolute;
    top: 0;
    left: 0;
}

.logoH {
    max-width: 50px;
    display: block;
    margin-right: auto;
    margin-left: 15px;
}

.containerB {
    display: flex;
    height: 6%;
    background-color: #333;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Estilos footer */
.footer {
    width: 100%;
    background-color: #0E0E0E;
    color: white;
    margin-top: 10em;
    text-align: center;
    padding: 10px;
    z-index: 999;
    clear: both;
    bottom: 0;
}


.containerF {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.cont1 {
    align-items: center;
    display: flex;
}

.socialMedia {
    font-size: 25px;
    justify-content: space-between;
    align-content: space-between;
}

.socialMedia .fab {
    padding-left: 50px;
    padding-right: 50px;
}

.cont2 {
    margin-right: 20px;
}

.footer a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

.logoFo {
    max-width: 95px;
    display: block;
    margin-right: auto;
    margin-left: 15px;
}